<!-- HEADER -->

<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-toggle"></span>
    </button>
    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"> </span>    <%= current_user.first_name %>'s COACH Dashboard</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav pull-right">
      
      <li class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
          <strong>Tools</strong> <span class="caret"></span></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">

          <!-- / TOOLS Drop Down Menu Items-->
          <li><a href='/users/sign_out' data-method='delete'>Sign out</a></li>
        <!-- / TOOLS Drop Down Menu Items-->

        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- /HEADER -->


<!-- MAIN -->

<div class="container">
<div class="row">
  <div class="col-md-2">
      <!-- Left -->
      <strong>Clients</strong>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>


      <!-- Client List -->

        <% @clients.each do |client| %>

          <li><a href="/FILL THIS IN WITH PATH TO VIEW" target="ext"><%= client.first_name %> <%= client.last_name %></a></li>
          <li class="divider"></li>

        <% end %>

      <!-- / Client List -->

      </ul>

    </div><!-- /span-3 -->
    <div class="col-md-10">
        <!-- Right -->

        <a title="New Plan" data-toggle="modal" href="TODO" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-leaf"></span> NEW PLAN</a>

        <a title="New Message" data-toggle="modal" href="TODO" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send"></span> NEW MESSAGE</a><br><hr>
      
    <!-- Middle Column, where the PLANS live. -->

    <div class="row">
          <div class="col-md-5">

          <div class="panel panel-default">
                  <div class="panel-heading"><strong>PLANS</strong></div>
                  <div class="panel-body">

                  <strong><center> The DREAM </center></strong>
                  Cold-pressed hammock wolf, yuccie polaroid church-key fanny pack whatever pour-over lumbersexual seitan flannel. Leggings disrupt heirloom typewriter, venmo quinoa listicle williamsburg PBR&B next level salvia godard occupy cray fanny pack. Swag butcher four dollar toast lumbersexual normcore aesthetic viral, fap church-key. Mustache literally YOLO authentic, squid pork belly kogi put a bird on it seitan kombucha post-ironic try-hard poutine fashion axe. Literally VHS leggings, yr asymmetrical williamsburg food truck fap. Kogi gochujang pork belly scenester synth, fap freegan sustainable 90's artisan cred affogato lo-fi selvage. Kale chips +1 swag echo park.<br><br>
                  
                  <strong><center> The DARE </center></strong>
                  8-bit hoodie godard flannel meditation truffaut. Deep v sartorial paleo, art party leggings quinoa retro artisan intelligentsia normcore VHS truffaut cred. Godard master cleanse yuccie etsy typewriter. Kale chips mixtape ethical, craft beer retro humblebrag flannel. Readymade beard disrupt drinking vinegar photo booth pork belly. Meditation pug salvia franzen gastropub williamsburg. Photo booth cred pabst, banjo yr beard trust fund cardigan selvage wolf tumblr banh mi kogi taxidermy knausgaard.<br><br>

                  <strong><center> The DO </center></strong>
                  Try-hard pinterest butcher food truck. 3 wolf moon franzen irony tilde, paleo mlkshk semiotics ugh everyday carry normcore. Pork belly taxidermy pitchfork artisan, umami forage green juice 90's shoreditch affogato stumptown. Before they sold out art party four loko chartreuse artisan. Plaid tumblr pop-up, art party church-key sartorial 3 wolf moon marfa put a bird on it chartreuse tattooed. Cold-pressed bespoke synth, raw denim crucifix viral tousled meggings echo park butcher. Try-hard aesthetic food truck freegan.<br><br>

                  </div>
                </div>

          <!-- Simple module for Inbox messages, with a badge alert -->

        <!-- <div class="well">Inbox Messages <span class="badge pull-right">3</span></div> -->

          <!-- / Simple module for Inbox -->
              
                <!--panel              
                <div class="panel">
                    <div class="panel-heading">
                      <i class="icon icon-chevron-up chevron"></i>
                      <i class="icon icon-wrench pull-right"></i> Quick Start
                  </div> -->

                  <!--panel content -->

                 <!--  <div class="panel-content">
                    
                      <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-primary col-sm-3">
                          <i class="glyphicon glyphicon-plus"></i>
                          <p>Service</p>
                        </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                          <i class="glyphicon glyphicon-cloud"></i>
                          <p>Cloud</p>
                        </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                          <i class="glyphicon glyphicon-cog"></i>
                          <p>Tools</p>
                        </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                          <i class="glyphicon glyphicon-question-sign"></i>
                          <p>Help</p>
                        </a>
                      </div>
                  </div>
 -->
                  <!-- /panel content-->

              <!--</div>/panel-->
              

              <!-- Table module-->

              <!-- <div class="panel panel-default">
                  <div class="panel-heading">Report</div>
                  <table class="table table-striped">
                  <thead>
                    <tr><th>Col 1</th><th>Col 2</th><th>Col 3</th></tr></thead>
                  <tbody>
                    <tr><td>45</td><td>2.45%</td><td>Direct</td></tr>
                    <tr><td>289</td><td>56.2%</td><td>Referral</td></tr>
                    <tr><td>98</td><td>25%</td><td>Type</td></tr>
                    <tr><td>..</td><td>..</td><td>..</td></tr>
                    <tr><td>..</td><td>..</td><td>..</td></tr>
                  </tbody>
                  </table>
              </div> -->

              <!-- / Table module -->
             
            
              <!-- CHART module -->

              <!-- 
              <div class="panel panel-default">
                  <div class="panel-heading">Charts</div>
                  <div class="panel-body"><img src="http://www.wired.com/playbook/wp-content/uploads/2012/08/data-tracking-run-chart.jpg" class="img-responsive"></div>
              </div> -->

              <!-- / CHART module -->
              
            </div>

<!-- THIS IS THE RIGHT COLUMN, WHERE THE MESSAGE HISTORY LIVES -->

          <div class="col-md-7">

    <!-- THIS is a simple module, which will be used for the middle and right columns. -->

        <div class="row">
          <div class="col-span">

          <div class="panel panel-default">
                  <div class="panel-heading"><strong>MESSAGES</strong></div>
                  <div class="panel-body">
                  
                  This conversation will be automated.
                  
                    </div>
                  </div>
                </div>


    <!-- / The simple module -->


    <!-- THIS is a Form module -->

      <!--        <div class="panel panel-default">
                  <div class="panel-heading">
                        <div class="panel-title">
                        <i class="glyphicon glyphicon-chevron-up chevron"></i>
                      <i class="glyphicon glyphicon-wrench pull-right"></i>
                        Form
                        </div>
                  </div>
                  <div class="panel-body">

                      <form class="form form-vertical">
                       
                        <div class="control-group">
                          <label>Name</label>
                          <div class="controls">
                           <input type="text" class="form-control" placeholder="Enter Name">
                          </div>
                        </div>      
                        
                        <div class="control-group">
                          <label>Label</label>
                          <div class="controls">
                           <input type="password" class="form-control" placeholder="Password">
                          
                          </div>
                        </div>   
                        
                        <div class="control-group">
                          <label>Text</label>
                          <div class="controls">
                            <textarea class="form-control"></textarea>
                          </div>
                        </div> 
                             
                        <div class="control-group">
                          <label>Select</label>
                          <div class="controls">
                             <select class="form-control"><option>options</option></select>
                          </div>
                        </div>    
                        
                        <div class="control-group">
                            <label></label>
                          <div class="controls">
                          <button type="submit" class="btn btn-primary">
                              Post
                            </button>
                          </div>
                        </div>   
                        
                      </form>
                
                  </div>
                </div> -->

    <!-- / The Form module -->


                <!-- Panel with circle informatic -->
              
                <!-- <div class="panel panel-default">
                  <div class="panel-heading"><div class="panel-title">Engagement</div></div>
                  <div class="panel-body pull-center">  
                    
                    <img src="http://placehold.it/90X90/CC2222/FFF" class="img-circle">
                    
                    <img src="http://placehold.it/90X90/11CC22/FFF" class="img-circle">
                    
                    <img src="http://placehold.it/90X90/EEEEEE/222" class="img-circle">
                    
                  </div>
               </div> -->

               <!--/Panel with circles-->

              
              <!-- Social Media Icons -->

                <i class="icon-bar-chart icon-3x"></i>
                <i class="icon-plus icon-3x"></i>
                <i class="icon-facebook icon-3x"></i>
                <i class="icon-beaker icon-3x"></i>
                <i class="icon-twitter icon-3x"></i>
                
              <!-- / Social Media Icons -->
              
      </div><!--/col-->
     
      </div><!--/row-->

    </div><!--/col-->

</div>

</div>

<!-- / Main -->


<!-- Footer -->

  <footer>
    
    

  </footer>

<!-- / Footer -->


<!-- Module for user to add widgets -->

  <!-- <div class="modal" id="addWidgetModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Widget</h4>
        </div>
        <div class="modal-body">
          <p>Add a widget stuff here..</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
          <a href="#" class="btn btn-primary">Save changes</a>
        </div>
      </div>
    </div>
  </div> -->

<!-- / Module for user to add widgets -->
