START COACH DASH PARTIAL

<div style="margin-left:25px;">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="/user/dashboard" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="/group/dashboard" aria-controls="profile" role="tab" data-toggle="tab">Groups</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

    </div>

    <div role="tabpanel" class="tab-pane" id="groups">

    </div>
  </div>
  <div class="below-tabs-spacer" /> 

</div> <!-- End of Nav Tabs -->

<!-- Container for Selected Tab: -->
<div class="main-dashboard-container" id="coachDashMain">
   
<!-- RENDER CONTEXT HERE: //////////////////////////////-->




<!-- END CONTEXT ///////////////////////////////////////-->

</div> <!-- End of main container div -->

END COACH DASH PARTIAL