<!-- TODO: Add some logic, perhaps linked to Time-Of-Day, to randomize what appears in the banner. -->

<!-- Inspirational Banner -->
<!-- HEIGHT OF IMAGE NEEDS TO BE 250px, and width should be 950px to accomodate larger screens.-->

          <div class="client-dashboard-banner">
            
 
            <div class="dashboard-banner-text">

                        <!-- 
                "There is no passion to be found
                playing small - in settling for 
                a life that is less than the one 
                you are capable of living."
                <br>
                <br>
                <strong>-Nelson Mandela
                </strong>
                        -->

            </div>

            
          </div>

        <!--/ Inspirational Banner -->