<%unless current_user.blank? -%>
signed in as
<%else -%>
not signed in
<%end-%>

<%= current_user.first_name %> <%= current_user.last_name %> 

<a href='/users/sign_out' data-method='delete'>Sign out</a>

<!-- ........... -->









<!-- ........... -->


  <h1>This is your CLIENT dashboard</h1>
    <% @messages each do |x| %>
    <%= x.content %>

  <% end %>


<% end%>


