

<%= render 'form' %>
<div class="kt-section">
	<div class="kt-section__content kt-section__content--solid">
		<%= link_to 'Show', @message, class: "btn btn-label-primary btn-pill" %> 
		<%= link_to 'Back', messages_path, class: "btn btn-label-primary btn-pill" %>
	</div>
</div>
