
 <div class="block">
  
  <center><%= render '/shared/public_logo_and_nav' %></center>

  <div class="hero-slider" style="min-height: 100px">
        <div class="rev-slider">
            <ul>
               <li>
                   <img src="/assets/slide1.jpg" alt="">
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="150"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="500"><h4 class="opacity-40">Welcome to I Dare I Dream </h4>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="210"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="600"><h1>The Dream Catcher Experience is guide a<br/> and coaching program</h1>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="410"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="700"><a href="http://206.81.14.195:3000/users/sign_up" class="link underline scroll">Sign Up Today</a>
                   </div>
               </li>
                <li>
                   <img src="/assets/slide3.jpg" alt="">
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="150"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="500"><h4 class="opacity-40">Welcome to I Dare I Dream </h4>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="210"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="600"><h1>The Dream Catcher Experience is a<br/> guide and coaching program</h1>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="410"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="700"><a href="http://206.81.14.195:3000/users/sign_up" class="link underline scroll">Sign Up Today</a>
                   </div>
               </li>
			   <li>
                   <img src="/assets/slide2.jpg" alt="">
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="150"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="500"><h4 class="opacity-40">Welcome to I Dare I Dream </h4>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="210"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="600"><h1>The Dream Catcher Experience is  a<br/>guide and coaching program</h1>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="410"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="700"><a href="http://206.81.14.195:3000/users/sign_up" class="link underline scroll">Sign Up Today</a>
                   </div>
               </li>
            </ul>
        </div>
    </div>

   
<div class="block" id="features">
        <div class="container container_margin" >
        <div class="heading_space h3color"> </div>
			  <h2 class="h3color"><center>We Are:</center></h2>
            <div class="row">
                <!--/ .<div class="col-md-3 col-sm-6">
                    <div class="feature-box">
                        <i class="icon_comment_alt"></i>
                        <a href=""><h4 class="h3color">My Mentoring</h4></a>
                        <p class="psize">Fusce facilisis nec ante et accumsan. Ut malesuada tristique sagittis</p>
                        <a href=""><i class="arrow_right"></i></a>
                    </div>
                </div>
                col-md-3-->
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <i class="icon_id-2"></i>
                        <a href=""><h4 class="h3color">Competent specialists in Leadership and Life Coaching</h4></a>
                       <!-- <p class="psize">Competent specialists in Leadership and Life Coaching</p> 
                        <a href=""><i class="arrow_right"></i></a>-->
                    </div>
                    <!--/ .feature-box-->
                </div>
                <!--/ .col-md-3-->
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <i class="icon_briefcase"></i>
                        <a href=""><h4 class="h3color">Pragmatic and transparent experts</h4></a>
                        <!-- <p class="psize">Pragmatic and transparent experts</p> 
                        <a href=""><i class="arrow_right"></i></a>-->
                    </div>
                    <!--/ .feature-box-->
                </div>
                <!--/ .col-md-3-->
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <i class="icon_box-checked"></i>
                        <a href=""><h4 class="h3color">Experienced, enthusiastic, and driven professionals</h4></a>
                        <!-- <p class="psize">Experienced, enthusiastic, and driven professionals</p>
                        <a href=""><i class="arrow_right"></i></a>-->
                    </div>
                    <!--/ .feature-box-->
                </div>
                <!--/ .col-md-3-->
            </div>
            <!--/ .row-->
              <div class="heading_space"> </div>
        </div>
        <!--/ .container-->
        <div class="bg bg-color-neutral opacity-50"></div><!--/ .bg-->
    </div>
    <!--/ .block-->
    
    <div class="container-fluid">
		 <div class="row row-white">
        <div class="col-md-2"></div>
            <div class="col-md-8">
              <h2 class="h3color"><center>  Why the Dream catcher experience? </center></h2>
                <div class="story story-transparent">
                    
                        <p> Whether your dreams are about developing in business or about this vast experience called life, Dream Catcher has immediate actionable steps for you. 
          There are gaps between your dreams and where you are today. Dream Catcher effectively closes those gaps. 
          The Dream Catcher experience is an expert guided, proven and effective coaching program. It is always tailored to meet your Leadership and Life needs.
.</p>
                   
                </div>
                
            </div>
            
            <!--/ .col-md-8-->
            <div class="col-md-2"></div>
        </div>
        <!--/ .row-->

       
        <div class="row row-gray">
        <div class="col-md-2"></div>
            <div class="col-md-8">
              <h2 class="h3color"><center> Your Dream Catcher Experience </center></h2>
                <div class="story story-transparent">

                        <p> A dream is not what you wake up from.  A real dream is what wakes you up.
          The Dream Catcher experience will furnish you and/or your business with simple actionable steps.   
          We will propel you to realize your fullest potential, as an individual and leader. Dream Dare Do!.</p>
                   
                </div>
                
            </div>
            
            <!--/ .col-md-8-->
            <div class="col-md-2"></div>
        </div>
        <!--/ .row-->
        
       
       
        <!--/ .row-->
        
      
    </div>
</div>




        
        
        

