<div class="whole-page">
  
    <div class="container" style="background-color:white; width:100%;">
      <div class="landing-page-branding">
        <img src="/assets/branding/DreamCatcherLogo01_White.png">
      </div>

      <div class="landing-page-spacer-30"></div>

      <div class="landing-page-links">
        <% if user_signed_in? %>
          <a href="/user/dashboard" class="landing-link">My Dashboard</a>
          <div class="horizontal-spacer-6"></div>
          <a href='/users/sign_out' class="landing-link" data-method='delete'>Sign out</a>
          <div class="horizontal-spacer-6"></div>

        <% else %>
          <a href="/users/sign_in" class="landing-link">Sign In</a>
          <div class="horizontal-spacer-6"></div>
          <a href="/users/sign_up" class="landing-link">Sign Up</a>
          <div class="horizontal-spacer-6"></div>

        <% end %>
        <a href="/bios/meet_us" class="landing-link">Meet Us</a>
        <div class="horizontal-spacer-6"></div>
        <a href="/blog" class="landing-link">Blog</a>

      </div>
    </div>
    <div class="container">
      <div class="landing-content">

        <div class="landing-text-center-strong">
          Why The Dream Catcher Experience?
        </div>
        <div class="landing-text-body">
          Whether your dreams are about developing in business or about this vast experience called life, Dream Catcher has immediate actionable steps for you. 
          There are gaps between your dreams and where you are today. Dream Catcher effectively closes those gaps. 
          The Dream Catcher experience is an expert guided, proven and effective coaching program. It is always tailored to meet your Leadership and Life needs.
        </div>
        <div class="landing-text-center-strong">
          Your Dream Catcher Experience
        </div>
        <div class="landing-text-body">
          A dream is not what you wake up from.  A real dream is what wakes you up.
          The Dream Catcher experience will furnish you and/or your business with simple actionable steps.   
          We will propel you to realize your fullest potential, as an individual and leader. Dream Dare Do!
        </div>
        <div class="landing-text-center-strong">
          We Are
        </div>
        <div class="landing-text-body">
          <li>Competent specialists in Leadership and Life Coaching</li>
          <li>Pragmatic and transparent experts</li> 
          <li>Experienced, enthusiastic, and driven professionals</li>
        </div>
      </div>
    </div>
</div>
