<!-- Main content of Landing Page -->
	<div class="col-sm-12 p-0">
	  <%= render 'landing_page_info_content' %>
	</div>
<!-- / Main content of Landing Page -->

<!-- Web form to send a new admin message: -->
<div class="col-sm-12 p-0">
<div class="new-admin-message-form">
  <div class="landing-text-center-strong">
    
  </div>

  <%= render 'form' %>

</div>
</div>

<!-- / New Admin Message form -->

