<div class="whole-page">

<!-- Main content of Landing Page -->

<%= render 'landing_page_info_content' %>

<!-- / Main content of Landing Page -->

</div>

<!-- Web form to send a new admin message: -->
<div class="new-admin-message-form">
  <div class="landing-text-center-strong">
    
  </div>

  <%= render 'form' %>

</div>

<!-- / New Admin Message form -->

