<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="kt-portlet__head">
          
           <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
            Editing Group
            </h3>
           </div>         

        </div>
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit :class => 'btn btn-success' %>
  </div> </div>
<% end %>
