<h1>MY GROUP DASHBOARD.</h1>

My Created Groups (link: CREATE A GROUP)
<% @user_created_groups.each do |ug| %>
---------------
<h2><%= ug.name %></h2> Link: EDIT/DELETE
<h4><%= ug.type %></h4>
---------------
<% end %>

My Joined Groups (link: FIND A GROUP)
<% @user_member_groups.each do |mg| %>

---------------
<h2><%= mg.name %></h2> Link: LEAVE THIS GROUP
<h4><%= mg.type %></h4>
---------------
<% end %>

