<div class="container">
	<a href="/user_schedule/user_create_new">+ ADD A SCHEDULED TASK</a>
	CALENDAR
	<% binding.pry %>
	<% @all_my_user_schedules.each do |sched| %>
		<%= sched.title %>
	<% end %>
</div>