<div class="whole-page">
  <center><%= render '/shared/public_logo_and_nav' %></center>

  <div class="container">

      <div class="landing-content">

        <div class="landing-text-center">
          <h3>
            Blog
          </h3>
        </div>
        <div class="landing-text-body" style="text-indent:40px;">
          <center>
          		This area will be integrated soon. 
          		Please check back later.
          </center>
        </div>
      </div>
  </div>
</div>
