<div class="block">
  <center><%= render '/shared/public_logo_and_nav' %></center>
<style>
p{
font-size: 15px;
}
a{
font-size: 14px;
}
a:hover, a:focus {

    color: #37B048;
    text-decoration: underline;

}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
	border: 0px solid #ddd;
}
</style>
<div class="top-sps">
 <div class="heading">
        <div class="container">
            <h1>Blog Listing</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-md-8 col-sm-8">
                <section id="content">
                    <article class="blog-post">
                        <a href="#"><img src="assets/wildhogs.jpeg" alt=""></a>
                        <header><a href="#"><h3 class="h3color">Wild Hogs</h3></a></header>
                        <figure class="meta">
                            <a href="#" class="link-icon"></a>
                            <a href="#" class="link-icon"></a>
                            <div class="tags">
                                <a href="#" class="tag article">Building Leaders</a>
                                <a href="#" class="tag article">Coaching</a>
                            </div>
                        </figure>
                        <p>Curiosity is, in great and generous minds, the first passion and the last." <br>
							Samuel Johnson <br>
							Many people have heard this story analogized several times: A chemistry professor at a large college had some exchange students in the class. One day while the class was in the lab the Professor noticed one young exchange student who kept rubbing his back, and stretching as if his back hurt. The professor asked the young man what was the matter. The student told him he had a bullet lodged in his back. He had been shot while fighting communists in his native country who were trying to overthrow his country's government and install a new communist government.
                        </p>
                        <a target="_blank" href="https://www.linkedin.com/pulse/wild-hogs-nash-mahupete/" class="btn btn-default btn-small btn-grey">Read More</a>
                    </article><!-- /.blog-post -->
                    <article class="blog-post">
						<a href="#"><img src="assets/presence.jpeg" alt=""></a>
                        <header><a href="#"><h3 class="h3color">The Power Of Presence</h3></a></header>
                        <figure class="meta">
                            <a href="#" class="link-icon"></a>
                            <a href="#" class="link-icon"></a>
                            <div class="tags">
                                <a href="#" class="tag article">Building Leaders</a>
                                <a href="#" class="tag article">Coaching</a>
                            </div>
                        </figure>
                        <p>"I work with my Friends! <br>
To describe me as idealistic is probably farthest from the truth. I am also not in the minority of the 360+ people who make up the perennially recognized Omaha’s “Best Place To Work”, QLI. Commitment to excellence has always been at the core of why we do what we do. Anyone who sets foot on the illustrious and expansive campus leaves transformed. It is such a unique place and so much makes it the wonderful place it is. The work we do is amazing. We see miracles daily. However, the thing I and many others love most about QLI is that we get to work with people we genuinely are fortunate and proud to call friends."
                        </p>
                        <a target="_blank" href="https://www.linkedin.com/pulse/power-presence-tinashe-nash-mahupete/" class="btn btn-default btn-small btn-grey">Read More</a>
                    </article><!-- /.blog-post -->
                    
                   <!--  <article class="blog-post">
                        <header><a href="#"><h3 class="h3color">SoundCloud Audio Post</h3></a></header>
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/71654970&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                        <figure class="meta">
                            <a href="#" class="link-icon"><i class="fa fa-user"></i>Admin</a>
                            <a href="#" class="link-icon"><i class="fa fa-calendar"></i>06/04/2014</a>
                            <div class="tags">
                                <a href="#" class="tag article">Audio</a>
                                <a href="#" class="tag article">SoundCloud</a>
                            </div>
                        </figure>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec rutrum imperdiet ligula in bibendum. Aenean vulputate rutrum lobortis. Nullam non
                            mi ac dui egestas venenatis. Etiam venenatis fermentum accumsan. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit. Donec at lacus sapien.
                        </p>
                        <a href="#" class="btn btn-default btn-small btn-grey">Read More</a>
                    </article>
                    <article class="blog-post">
                        <a href="#"><img src="assets/blog-01.jpg" alt=""></a>
                        <header><a href="#"><h3 class="h3color">Cras commodo, velit nec aliquam dictum, tortor velit
                            dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum sagittis sapien vitae tristique mollis.</h3></a></header>
                        <figure class="meta">
                            <a href="#" class="link-icon"><i class="fa fa-user"></i>Admin</a>
                            <a href="#" class="link-icon"><i class="fa fa-calendar"></i>06/04/2014</a>
                            <div class="tags">
                                <a href="#" class="tag article">Interior</a>
                                <a href="#" class="tag article">New Living</a>
                            </div>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet commodo mauris,
                            sit amet commodo turpis. Duis consequat placerat lacus, in sagittis metus pretium vel.
                            In luctus justo venenatis, accumsan justo sit amet, volutpat dolor. Pellentesque quis nulla
                            nec nisi tempor scelerisque. Nam nec scelerisque sapien. Donec eleifend purus id neque pretium,
                            at sollicitudin erat vestibulum. Donec ac tempus tellus, ac dignissim sapien. Fusce et
                            elementum arcu. Maecenas sit amet tincidunt lorem.
                        </p>
                        <p>Vivamus porta orci eu turpis vulputate ornare. Fusce hendrerit arcu risus, sed commodo
                            lacus viverra in. Donec eget ligula in risus rutrum pretium id a elit. Nullam ut tristique
                            arcu. Nam quis nunc ac eros accumsan tincidunt vel sit amet lorem. Sed euismod, turpis
                            et facilisis vestibulum, leo lectus consectetur velit, sed lobortis ante dolor nec leo.
                            Praesent congue tellus eu dui consectetur commodo. Sed quam ante, elementum sodales felis
                            quis, rutrum tincidunt dolor. Etiam nec metus iaculis arcu cursus pulvinar. Nunc interdum
                            eros a neque elementum lobortis. Nulla mattis quis risus vel molestie. Mauris id urna ac
                            metus blandit lobortis in et odio.
                        </p>
                        <a href="#" class="btn btn-default btn-small btn-grey">Read More</a>
                    </article>

                    Pagination -->
                   <!-- <div class="center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div> /.center-->
                </section><!-- /#content -->
            </div><!-- /.col-md-9 -->
            <!-- end Content -->

            <!-- sidebar -->
            <div class="col-md-4 col-sm-4">
                <section id="sidebar" class="sidebar">
                    <aside id="search">
                        <h4 class="h3color">Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control framed" placeholder="Enter Keyword">
                            <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></span>
                        </div><!-- /input-group -->
                    </aside>
                   <!-- <aside id="post-archive">
                        <h4 class="h3color">Post Archive</h4>
                        <ul class="list-links">
                            <li><a href="#">June 2014</a></li>
                            <li><a href="#">May 2014</a></li>
                            <li><a href="#">April 2014</a></li>
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                            <li><a href="#">December 2013</a></li>
                            <li><a href="#">November 2013</a></li>
                            <li><a href="#">August 2013</a></li>
                        </ul>
                    </aside> /#post-archive 
                    <aside id="categories">
                        <h4 class="h3color">Categories</h4>
                        <ul class="list-links">
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Apartments</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Do it yourself</a></li>
                            <li><a href="#">Housing</a></li>
                            <li><a href="#">Interior</a></li>
                            <li><a href="#">Trends</a></li>
                        </ul>
                    </aside> -->
                </section><!-- /#sidebar -->
            </div><!-- /.col-md-3 -->
            <!-- end Sidebar -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
</div>
