<h1>INDEX VIEW</h1>


<% if user_signed_in? %>

  <a href='/user/dashboard'>Go to My Dashboard</a>

  <a href='/users/sign_out' data-method='delete'>Sign out</a>

<% else %>

  <a href="http://localhost:3000/users/sign_in">Sign In</a>

  <a href="http://localhost:3000/users/sign_up">Sign Up</a>

<% end %>


<!-- Link below to external blog site: -->

<a href="https://www.blogger.com/home">Blog</a>

<!-- Web form to send a new admin message: -->

<%= link_to 'New Admin message', new_admin_message_path %>