<h1>INDEX VIEW</h1>

<a href='/user/dashboard'>Go to My Dashboard</a>

<a href='/users/sign_out' data-method='delete'>Sign out</a>


<!-- Link below to external blog site: -->

<a href='https://www.blogger.com/home'>Blog</a>

