<h1>ABOUT PAGE</h1>

[Soon to be integrated with the index view, toward the bottom of the page]


(Should be visible to everyone, without logging in)

This is some information on the services we provide, and who we are. 

THIS IS A TEXT BOX THAT SAVES ADMIN MESSAGES FOR VISITORS' REQUESTS FOR USER ACCOUNTS AND/OR MORE INFO

<form action="demo_form.asp">
  Name: <input type="text" name="from_name" autofocus="true"><br>

  Email: <input type="text" name="from_email" required="true"><br>

  Message: <input type="text" name="content" ><br>

  <input type="submit" value="Submit">
</form>

