<p id="notice"><%= notice %></p>

<h1>Content Fields</h1>
  Note: deleting the contents of the content field will cause the area to default to a randomized image with inspirational text. Contact Developer to create new areas for client-controlled content.

  <table class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% if @content_fields != nil %>
        <% @content_fields.each do |content_field| %>
        
          <tr>
            <td><%= content_field.name %></td>
            <td><%= link_to 'Edit', edit_content_field_path(content_field) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<br>
