@charset "UTF-8";

#meetUs .container {
  display: flex;
}
#meetUs .bio_coach_profile {
  margin-top: 35px;
  margin-right: 50px;
  min-height: 400px;
  clear: left;
  font-size: 1.2em;
}
#meetUs .name {
	font-family:Archivo, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4em;
	font-weight: bold;
  padding-top: 30px;
}
#meetUs .pic {
	float: left;
  margin: 4%;
}
#meetUs .style-expertise-show-more-link {
  position: relative;
  bottom: 0;
}
#meetUs .show-more-content{
  display: block;
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: grey;
  column-width: 100px;
  column-gap: 40px;
}
#meetUs .bio-question {
  font-weight: bold;
  font-size: 1.5em;
}
#meetUs .bio-answer {
  font-style: italic;
}
#meetUs .q-a{
  page-break-inside: avoid;
  line-height: 1.5em
}
#meetUs .bio-profile-text{

}
#meetUs hr {
  height: 1px;
  background-color: grey;
}
#meetUs a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
